h1{
  font-weight: 300;
  font-size: 5rem;

  background: -webkit-linear-gradient(#28acb6, #e218e9);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:0 0 20px rgba(90, 67, 224, 0.76);
}

